{% if messg %}
<script>
    alert('{{messg}}');
</script>
{% endif %}

{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js" integrity="sha256-alsi6DkexWIdeVDEct5s7cnqsWgOqsh2ihuIZbU6H3I=" crossorigin="anonymous"></script>
        <title>동아리통합시스템</title>
    </head>
    <body>
        <header>
            <div class="logo">로고</div>
            <nav>
                <ul>
                    <li><a href="/index/">동아리통합시스템</a></li>
                    <li><a href="/members/">부원관리</a></li>
                    <li><a href="/money/">회비관리</a></li>
                    <li><a href="/calendar/">일정관리</a></li>
                {% if request.session.uid %}
                    <li><a href="/logout/">로그아웃</a></li>
                {% else %}
                    <li><a href="/signIn/">로그인</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        <div id="calendar"></div>  
        <script>
            function loadCalendar() {
              
                const calendarEl = document.getElementById('calendar');
                const calendar = new FullCalendar.Calendar(calendarEl, {
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    defaultView: 'month',
                    height: 500,
                    editable: true,
                    events: [
                        //이 부분에서 데이터 베이스 받는것
                        //수정하기 버튼은 추후 추가 예정 
                        {
                            title: '회의',
                            start: '2023-11-20T10:00:00',
                            end: '2023-11-20T12:00:00',
                            backgroundColor: '#337ab7',
                            borderColor: '#2e6da4'
                        },
                        {
                            title: '세미나',
                            start: '2023-11-25T14:00:00',
                            end: '2023-11-25T16:00:00',
                            backgroundColor: '#5bc0de',
                            borderColor: '#46b8da'
                        }
                    ]
                });
                calendar.render();
            };

            document.addEventListener('DOMContentLoaded', loadCalendar);

        </script>
    </body>
</html>
