{% if messg %}
<script>
    alert('{{messg}}');
</script>
{% endif %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/loginstyles.css' %}" />

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js" integrity="sha256-alsi6DkexWIdeVDEct5s7cnqsWgOqsh2ihuIZbU6H3I=" crossorigin="anonymous"></script>

        <title>로그인</title>    
    </head>
    
    <body>
        <header>
            <div class="logo">
                <img src="{% static 'jpeg/logo2.jpeg' %}" alt="로고">
            </div>
            <nav>
                <ul>
                {% if request.session.uid %}
                    <li><a href="/your_view/">동아리 통합 시스템</a></li>
                {% else %}
                    <li><a href="/index/">동아리 통합 시스템</a></li>
                {% endif %}
                    <li><a href="/members/">부원 관리</a></li>
                    <li id="money-link">
                        <a href="/cash_page/">회비 관리</a>
                        <ul class="submenu" id="money-submenu">
                            <li><a href="/cash_page/">회비 내역</a></li>
                            <li><a href="/pay_dues_list/">회비 납부 목록</a></li>
                        </ul>
                    </li>
                    <li><a href="/calendar/">일정 관리</a></li>
                {% if request.session.uid %}
                    <li><a href="/logout/">로그아웃</a></li>
                {% else %}
                    <li><a href="/signIn/">로그인</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <!-- 입력 받은 아이디, 비밀번호 데이터로 postsign 함수 실행 -->
            <form action="/postsign/" method="post">
                {% csrf_token %}
                아이디:
                <input type="email" name="email">
                비밀번호:
                <input type="password" name="pass">
                <input type="submit" value="로그인">
            </form>
            
        </main>
        <script src="{% static 'js/login.js' %}" defer></script>
    </body>
</html>
