{% if messg %}
<script>
    alert('{{messg}}');
</script>
{% endif %}

{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/tablestyles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/moneyformstyles.css' %}" />
        <style>                        
            #search-input {
                width: 220px;
            }  
        </style>

        <title>동아리 통합 시스템</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{% static 'jpeg/logo2.jpeg' %}" alt="로고">
            </div>
            <nav>
                <ul>
                {% if request.session.uid %}
                    <li><a href="/your_view/">동아리 통합 시스템</a></li>
                {% else %}
                    <li><a href="/index/">동아리 통합 시스템</a></li>
                {% endif %}
                    <li><a href="/members/">부원 관리</a></li>
                    <li id="money-link">
                        <a href="/cash_page/">회비 관리</a>
                        <ul class="submenu" id="money-submenu">
                            <li><a href="/cash_page/">회비 내역</a></li>
                            <li><a href="/pay_dues_list/">회비 납부 목록</a></li>
                        </ul>
                    </li>
                    <li><a href="/calendar/">일정 관리</a></li>
                {% if request.session.uid %}
                    <li><a href="/logout/">로그아웃</a></li>
                {% else %}
                    <li><a href="/signIn/">로그인</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        <h2>회비 내역</h2>

        <div id="button-container">
            <button id="addmoneyButton" onclick="toggleFormVisibility()">추가하기</button>
            <button id="editmoneyButton" onclick="toggleEditFormVisibility()">수정하기</button>
            <button id="removemoneyButton" onclick="deleteSelectedRows()">삭제하기</button>
            <button id="search-button" onclick="toggleSearchInput()">검색하기</button>
        </div>
        <div id="search-container">
            <input type="text" id="search-input" oninput="searchmoneys()" placeholder="입/출금 또는 날짜 또는 사유로 검색">
        </div>

        <table id="moneyTable">
            <thead>
                <tr>
                    <th>선택</th>
                    <th>입/출금</th>
                    <th>날짜</th>
                    <th>사유</th>
                    <th>금액</th>
                </tr>
            </thead>
            <tbody id="dataBody">
                <!-- 테이블의 내용이 동적으로 추가될 부분 -->
            </tbody>
        </table>

        <div id="addmoneyForm" style="display: none;">
            <h3>회비 추가</h3>
            <form id="moneyForm">
                {% csrf_token %}
                <label for="입/출금">입/출금:</label>
                <input type="text" id="입/출금" name="입/출금" required placeholder="입금/출금">
                
                <label for="날짜">날짜:</label>
                <input type="text" id="날짜" name="날짜" required placeholder="xxxx년 xx월 xx일">
                
                <label for="사유">사유:</label>
                <input type="text" id="사유" name="사유" required placeholder="사유를 입력해주세요. ex)회비, 회식">
                
                <label for="금액">금액:</label>
                <input type="number" id="금액" name="금액" required placeholder="금액만 입력해주세요. ex)10000">

                <input type="button" value="추가하기" onclick="addmoney()">
            </form>
        </div>    

        <div id="editmoneyForm" style="display: none;">
            <h3>회비 내역 수정</h3>
            <form id="editmoneyForm">
                {% csrf_token %}
                <label for="edit_입/출금">입/출금:</label>
                <input type="text" id="edit_입/출금" name="edit_입/출금" required>
        
                <label for="edit_날짜">날짜:</label>
                <input type="text" id="edit_날짜" name="edit_날짜" required>
        
                <label for="edit_사유">사유:</label>
                <input type="text" id="edit_사유" name="edit_사유" required>
        
                <label for="edit_금액">금액:</label>
                <input type="number" id="edit_금액" name="edit_금액" required>
            
                <input type="button" value="수정 완료" onclick="editmoney()">
                <input type="button" value="취소" id="cancelEditButton">
            </form>
        </div>
        <script src="{% static 'js/displaymoney.js' %}" defer></script>
        <script src="{% static 'js/searchmoney.js' %}" defer></script>
        <script src="{% static 'js/addmoney.js' %}" defer></script>
        <script src="{% static 'js/deletemoney.js' %}" defer></script>
        <script src="{% static 'js/editmoney.js' %}" defer></script>
    </body>
</html>
