main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -130px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form input {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

