#calendar {
    height: 550px;
    width: 900px;
    color: black;
}

#calendar a {
    color: black; /* 부모 엘리먼트의 색상 상속 */
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px; /* 여백 추가 */

}

#todo_container{
    border: 1rem solid rgba(0, 0, 0, 0.15);
    margin: 2.3rem auto;
    height: 420px;
    border-radius: 50px; /* 둥글게 만들기 위한 값 */
}

#cur_date{
    text-align: center;
    color: black;
    font-size: 30px;
    margin: 0;
    padding: 15px;
}

#todoform input{
    text-align: center;
    background-color: hsla(0,0%,84%,.3);
    color: black;
    font-size: 15px;
    width: 400px;
    transition:all, 0.4s;
}

#todolist li{
    color: black;
    font-size: 25px;
    width: 350px;
    list-style: none;
    text-align: center;
}
#todoform{
    text-align: center;
}

.selected-date {
    background-color: #a0d3ff; /* 선택된 날짜의 배경색을 여기에 원하는 색으로 지정 */
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px; /* 여백 추가 */
}

#todo_container {
    position: relative;
    width: 380px; /* 투두 컨테이너 너비 지정 */
    background-color: #f5f5f5; /* 배경색 지정 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#delete-events-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ff6464; /* 버튼 배경색 지정 */
    color: #fff; /* 버튼 텍스트 색상 지정 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cur_date {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

#todoform input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#todolist {
    list-style: none;
    padding: 0;
}

#todolist li {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px; /* 원하는 크기로 조정 */

}

#todolist button {
    background-color: #ff6464;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

#todolist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-checkbox {
    margin-right: 10px;
}

.todo-text {
    margin-right: 10px; /* 텍스트와 체크박스 간격 조절 */
}

